---
layout: page
title: Ausrüstung
use-site-title: true
css:
  - css/eso_equipment.css
eso:
    equipment:
        raid:
            id: raid
            title: Prüfung / Raid
            data:
                0:
                    name: Alkosh
                    id: 84
                    source: Schlund von Lorkhaj
                    trait: Göttlich
                    usedby: Ausdauer-DD (Zauberer)
                    comment: hoher Schockschaden, verringert Resistenzen
                1:
                    name: Alkosh
                    id: 84
                    source: Schlund von Lorkhaj
                    trait: Robust
                    usedby: Off-Tank
                    comment: 
                2:
                    name: Ewiger Krieger
                    id: 105
                    source: Hel Ra, Ätherisches Archiv, Sanctum Ophidia
                    trait: Robust
                    usedby: Tank (Drachenritter, Nekromant)
                    comment: 
                3:
                    name: Falscher Gott
                    id: 388
                    source: Sonnspitz
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: Nutzung bei Magicka-Problemen, aber wenig Magiekraft
                4:
                    name: Heilender Magier
                    id: 268
                    source: Ätherisches Archiv
                    trait: Göttlich
                    usedby: Heiler
                    comment: in Kombination mit dem Set <span class="esb-link"><a href="https://www.elderscrollsbote.de/set=107" target="_blank">Unfehlbare Magierin</a></span>
                5:
                    name: Kriegsmaschine
                    id: 287
                    source: Hallen der Fertigung
                    trait: Göttlich
                    usedby: Ausdauer-DD (Hüter)
                    comment: 
                6:
                    name: Lokkestiiz
                    id: 387
                    source: Sonnspitz
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: für alle Klassen&#58; hoher direkter Schaden
                7:
                    name: Mondtänzer
                    id: 82
                    source: Schlund von Lorkhaj
                    trait: Göttlich
                    usedby: Magicka-DD (Nekromant)
                    comment: 
                8:
                    name: Nahviintaas
                    id: 389
                    source: Sonnspitz
                    trait: Göttlich
                    usedby: Heiler
                    comment: Alternative für den 2. Raid-Heiler
                9:
                    name: Olorime
                    id: 334
                    source: Wolkenruh
                    trait: Göttlich
                    usedby: Heiler
                    comment: bestes Heiler-Set&#58; erhöht zudem den Gruppenschaden
                10:
                    name: Relequen
                    id: 332
                    source: Wolkenruh
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: in Kombination mit dem Set <span class="esb-link"><a href="https://www.elderscrollsbote.de/set=132" target="_blank">Tödlicher Stoß</a></span>
                11:
                    name: Siroria
                    id: 333
                    source: Wolkenruh
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: starkes Magicka-Set&#58; sehr hohe Magiekraft
                12:
                    name: Unfehlbare Magierin
                    id: 107
                    source: Hel Ra, Ätherisches Archiv, Sanctum Ophidia
                    trait: Göttlich
                    usedby: Magicka-DD (Zauberer)
                    comment: starkes Magicka-Set&#58; erhöht Schaden am Ziel um 8%, maximale kritische Magietreffer
                13:
                    name: Unfehlbare Magierin
                    id: 107
                    source: Hel Ra, Ätherisches Archiv, Sanctum Ophidia
                    trait: Göttlich
                    usedby: Heiler
                    comment: für Heiler mit Fokus auf maximale kritische Magietreffer
                14:
                    name: Yolnahkriin
                    id: 386
                    source: Sonnspitz
                    trait: Robust
                    usedby: Off-Tank
                    comment: Support-Set für den Off-Tank bei Raids
                15:
                    name: Zwielichtgenesung
                    id: 83
                    source: Schlund von Lorkhaj
                    trait: Göttlich
                    usedby: Heiler
                    comment: für den 2. Raidheiler, erhöht den Gruppenschaden
        dungeon:
            id: dungeon
            title: Verlies / Dungeon
            data:
                0:
                    name: Auslaugende Rüstung
                    id: 264
                    source: Gefängnis der Kaiserstadt
                    trait: Robust
                    usedby: Tank
                    comment: 
                1:
                    name: Blutmond
                    id: 344
                    source: Marsch der Aufopferung
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                2:
                    name: Bluttrinker
                    id: 298
                    source: Blutquellschmiede
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                3:
                    name: Bluttrinker
                    id: 298
                    source: Blutquellschmiede
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                4:
                    name: Branntzauberweber
                    id: 225
                    source:  Stadt der Asche I &amp; II
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                5:
                    name: Draugrruhe
                    id: 294
                    source: Falkenring
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                6:
                    name: Dreughkönigsschlächter
                    id: 246
                    source: Pilzgrotte I &amp; II
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                7:
                    name: Ebenerzarsenal
                    id: 234
                    source: Krypta der Herzen I &amp; II
                    trait: Robust
                    usedby: Tank
                    comment: 
                8:
                    name: Eisenblut
                    id: 293
                    source: Falkenring
                    trait: Robust
                    usedby: Tank
                    comment: 
                9:
                    name: Essenzdieb
                    id: 266
                    source: Weißgoldturm
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                10:
                    name: Flammenblüte
                    id: 297
                    source: Blutquellschmiede
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                11:
                    name: Garderobe des Wurms
                    id: 259
                    source: Kammern des Wahnsinns
                    trait: Göttlich
                    usedby: Heiler
                    comment: 
                12:
                    name: Heiligtum
                    id: 214
                    source: Verbannungszellen I &amp; II
                    trait: Göttlich
                    usedby: Heiler
                    comment: 
                13:
                    name: Hircines Schein
                    id: 228
                    source: Selenes Netz
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                14:
                    name: Hohlzahndurst
                    id: 397
                    source: Mondgrab-Tempelstadt
                    trait: Göttlich
                    usedby: Heiler
                    comment: 
                15:
                    name: Jorvulds Führung
                    id: 320
                    source: Gipfel der Schuppenruferin
                    trait: Göttlich
                    usedby: Heiler
                    comment: 
                16:
                    name: Leviathan
                    id: 233
                    source: Krypta der Herzen I &amp; II
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                17:
                    name: Magiekraftheilung
                    id: 265
                    source: Weißgoldturm
                    trait: Göttlich
                    usedby: Heiler
                    comment: 
                18:
                    name: Roben der Zerstörungsbeherrschung
                    id: 129
                    source: Drachenstern-Arena
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                19:
                    name: Säulen von Nirn
                    id: 295
                    source: Falkenring
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                20:
                    name: Sturmmeister
                    id: 257
                    source: Orkaninsel
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                21:
                    name: Tuch des Lich
                    id: 232
                    source: Krypta der Herzen I &amp; II
                    trait: Undurchdringlich
                    usedby: Magicka-DD
                    comment: für PvP
                22:
                    name: Überwältigende Woge
                    id: 256
                    source: Orkaninsel
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                23:
                    name: Ulfnors Gunst
                    id: 323
                    source: Krallenhort
                    trait: Robust
                    usedby: Tank
                    comment: 
                24:
                    name: Verletzender Magier
                    id: 262
                    source: Gefängnis der Kaiserstadt
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                25:
                    name: Vipernbiss
                    id: 245
                    source: Pilzgrotte I &amp; II
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                26:
                    name: Wilder Werwolf
                    id: 348
                    source: Mondjägerfeste
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                27:
                    name: Witwenmacher
                    id: 117
                    source: Wiege der Schatten
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
        monster:
            id: monster
            title: Monster
            data:
                0:
                    name: Blutbrut
                    id: 33
                    source: Spindeltiefen II
                    trait: Robust
                    usedby: Tank
                    comment: Tank-Set für Einsteiger
                1:
                    name: Blutbrut
                    id: 33
                    source: Spindeltiefen II
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                2:
                    name: Domihaus
                    id: 300
                    source: Falkenring
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                3:
                    name: Eisherz
                    id: 170
                    source: Burg Grauenfrost
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: Schadenschild bei verursachten kritischen Treffern
                4:
                    name: Erdbluter
                    id: 299
                    source: Blutquellschmiede
                    trait: Robust
                    usedby: Tank
                    comment: Alternativ für 4er Verliese
                5:
                    name: Erdbluter
                    id: 299
                    source: Blutquellschmiede
                    trait: Göttlich
                    usedby: Heiler
                    comment: Alternativ für 4er Verliese
                6:
                    name: Erdbluter
                    id: 299
                    source: Blutquellschmiede
                    trait: Undurchdringlich
                    usedby: Magicka-DD
                    comment: für PvP
                7:
                    name: Grothdarr
                    id: 172
                    source: Kammern des Wahnsinns
                    trait: Göttlich
                    usedby: Magicka-DD (Drachenritter)
                    comment: starker Flächenschaden
                8:
                    name: Hochwärter
                    id: 34
                    source: Gefängnis der Kaiserstadt
                    trait: Robust
                    usedby: Tank (Hüter, Templer)
                    comment: starkes Tank Monsterset für Hüter &amp; Templer Tanks
                9:
                    name: Ilambris
                    id: 169
                    source: Krypta der Herzen I
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: stärkstes Monster-Set für Magicka-DDs in Verbindung mit Blitzstab (Flammenverzauberung) &amp; Flammenstab (Schockverzauberungg)
                10:
                    name: Infernaler Wächter
                    id: 168
                    source: Stadt der Asche I
                    trait: Undurchdringlich
                    usedby: Magicka-DD (Drachenritter)
                    comment: für PvP
                11:
                    name: Kra'gh
                    id: 173
                    source: Pilzgrotte I
                    trait: Göttlich
                    usedby: Ausdauer-DD (Nachtklinge, Templer)
                    comment: 
                12:
                    name: Mächtiger Chudan
                    id: 111
                    source: Ruinen von Mazzatun
                    trait: Robust
                    usedby: Tank
                    comment: stärkstes Monster-Set für Tanks&#58; dauerhafte Resistenzen, extra Leben
                13:
                    name: Mephalas Brut
                    id: 32
                    source: Pilzgrotte II
                    trait: Göttlich
                    usedby: Ausdauer-DD (Drachenritter)
                    comment: Monster-Set für Einsteiger (Drachenritter)
                14:
                    name: Molag Kena
                    id: 44
                    source: Weißgoldturm
                    trait: Göttlich
                    usedby: Ausdauer-DD (Werwolf, Zauberer)
                    comment: 
                15:
                    name: Nachtflamme
                    id: 37
                    source: Eldengrund II
                    trait: Göttlich
                    usedby: Heiler
                    comment: starke Flächenheilung
                16:
                    name: Piratenskelett
                    id: 164
                    source: Schwarzherz-Unterschlupf
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                17:
                    name: Rkugamz
                    id: 166
                    source: Dunkelschattenkavernen I
                    trait: Göttlich
                    usedby: Heiler
                    comment: auch als Support-Set
                18:
                    name: Schleimkropf
                    id: 162
                    source: Kanalisation von Wegesruh I
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: geeignet für alle Ausdauer-DDs
                19:
                    name: Selene
                    id: 176
                    source: Selenes Netz
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: für Quester / Solo-Spieler
                20:
                    name: Sellistrix
                    id: 174
                    source: Arx Corinium
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: Monster-Set für Einsteiger
                21:
                    name: Sturmfaust
                    id: 175
                    source: Orkaninsel
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: stärkstes Monster-Set für Ausdauer-DDs&#58; starker Flächenschaden
                22:
                    name: Valkyn Skoria
                    id: 39
                    source: Stadt der Asche II
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: starkes Monster-Set für Ausdauer-DDs bei Nutzung von Fähigkeiten mit Schaden über Zeit
                23:
                    name: Valkyn Skoria
                    id: 39
                    source: Stadt der Asche II
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: für PvP bei Nutzung von Fähigkeiten mit Schaden über Zeit
                24:
                    name: Velidreth
                    id: 110
                    source: Wiege der Schatten
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: starkes Monster-Set für Ausdauer-DDs
                25:
                    name: Würgedorn
                    id: 167
                    source: Eldengrund I
                    trait: Göttlich
                    usedby: Heiler (Nekromant)
                    comment: starke Einzelzielheilung, starke Magickaregeneration
                26:
                    name: Zaan
                    id: 326
                    source: Gipfel der Schuppenruferin
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: für PvP auf kurzer Distanz zum Feind
        zone:
            id: zone
            title: Gebiet / Zone (handelbar)
            data:
                0:
                    name: Akavirische Drachengarde
                    id: 118
                    source: Ostmarsch
                    trait: Robust
                    usedby: Tank
                    comment: 
                1:
                    name: Biss des Senche
                    id: 109
                    source: Schnittermark
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                2:
                    name: Der Grüne Pakt
                    id: 188
                    source: Grahtwald
                    trait: Robust
                    usedby: Tank
                    comment: 
                3:
                    name: Dornen des Zweiglings
                    id: 204
                    source: Bangkorai
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                4:
                    name: Dornenherz
                    id: 47
                    source: Wrothgar
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                5:
                    name: Eleganz der Königin
                    id: 108
                    source: Auridon
                    trait: Undurchdringlich
                    usedby: Magicka-DD
                    comment: für PvP
                6:
                    name: Fell des Werwolfs
                    id: 123
                    source: Glenumbra
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                7:
                    name: Flankierender Stratege
                    id: 98
                    source: Goldküste
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD (Nachtklinge)
                    comment: für PvP
                8:
                    name: Gewänder des Webers
                    id: 199
                    source: Malabal Tor
                    trait: Undurchdringlich
                    usedby: Magicka-DD
                    comment: für PvP
                9:
                    name: Hellhalsstolz
                    id: 355
                    source: Trübmoor, Schwarzrosengefängnis
                    trait: Göttlich
                    usedby: Heiler (Nekromant)
                    comment: 
                10:
                    name: Hexenwerk
                    id: 209
                    source: Rift
                    trait: Gestärkt
                    usedby: Tank
                    comment: nur Waffen &amp; Schmuck
                11:
                    name: Kriegerpoet
                    id: 283
                    source: Vvardenfell
                    trait: Robust
                    usedby: Tank
                    comment: erhöht Leben um 10%
                12:
                    name: Kriegsjungfer
                    id: 282
                    source: Vvardenfell
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                13:
                    name: Listiger Alfiq
                    id: 384
                    source: 
                    trait: Undurchdringlich
                    usedby: Magicka-DD
                    comment: für PvP
                14:
                    name: Muttertränen
                    id: 186
                    source: 
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                15:
                    name: Nekropotenz
                    id: 126
                    source: 
                    trait: Göttlich
                    usedby: Magicka-DD (PetSorc)
                    comment: 
                16:
                    name: Rohling der siebten Legion
                    id: 205
                    source: 
                    trait: Geschärft
                    usedby: Ausdauer-DD
                    comment: nur Waffen &amp; Schmuck
                17:
                    name: Schänder
                    id: 281
                    source: Vvardenfell
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                18:
                    name: Schatten des Roten Berges
                    id: 120
                    source: Steinfälle
                    trait: 
                    usedby: Ausdauer-DD (Drachenritter)
                    comment: starker Einzelzielschaden
                19:
                    name: Seuchendoktor
                    id: 185
                    source: Deshaan
                    trait: Robust
                    usedby: Tank
                    comment: starkes Tank-Set
                20:
                    name: Sumpfräuber
                    id: 195
                    source: Schattenfenn
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                21:
                    name: Trinimacs Heldenmut
                    id: 46
                    source: Wrothgar
                    trait: Göttlich
                    usedby: Heiler
                    comment: nur bei Nutzung von Schadenschilden
                22:
                    name: Wahntüftler
                    id: 304
                    source: Stadt der Uhrwerke, Anstalt Sanctorium
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                23:
                    name: Wildheit des Greifen
                    id: 335
                    source: Sommersend, Artaeum
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
        pvp:
            id: pvp
            title: PvP (handelbar)
            data:
                0:
                    name: Bataillonsverteidiger
                    id: 361
                    source: Cyrodiil
                    trait: Robust
                    usedby: Tank
                    comment: 
                1:
                    name: Elfenfluch
                    id: 140
                    source: Cyrodiil
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                2:
                    name: Licht von Cyrodiil
                    id: 148
                    source: Cyrodiil
                    trait: Göttlich
                    usedby: Magicka-DD
                    comment: 
                3:
                    name: Morag Tong
                    id: 156
                    source: Cyrodiil
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                4:
                    name: Phönix
                    id: 57
                    source: Kanalisation der Kaiserstadt
                    trait: Undurchdringlich
                    usedby: Ausdauer-DD
                    comment: für PvP
                5:
                    name: Tödlicher Stoß
                    id: 132
                    source: Cyrodiil
                    trait: Göttlich
                    usedby: Ausdauer-DD
                    comment: 
                6:
                    name: Wappen von Cyrodiil
                    id: 134
                    source: Cyrodiil
                    trait: Robust
                    usedby: Tank
                    comment: 
                7:
                    name: Zauberstratege
                    id: 357
                    source: Cyrodiil
                    trait: Undurchdringlich
                    usedby: Magicka-DD
                    comment: für PvP
---

<script src="../js/eso_equipment_filter.min.js"></script>

{% include eso_equipment.html equipment=page.eso.equipment.raid %}

{% include eso_equipment.html equipment=page.eso.equipment.dungeon %}

{% include eso_equipment.html equipment=page.eso.equipment.monster %}

{% include eso_equipment.html equipment=page.eso.equipment.zone %}

{% include eso_equipment.html equipment=page.eso.equipment.pvp %}