{% if page.eso.attributes %}
    <div class="eso-widgets-attr" style="display:none">
        <div style="background-color:#0D81BD;background-image:linear-gradient(to right, #0D81BD, #000452)">{{ page.eso.attributes.magicka }}</div>
        <div style="background-color:#BD3431;background-image:linear-gradient(to right, #BD3431, #6B2021, #BD3431)">{{ page.eso.attributes.health }}</div>
        <div style="background-color:#0D6562;background-image:linear-gradient(to right, #0D6562, #007950)">{{ page.eso.attributes.stamina }}</div>
    </div>
{% endif %}