<ul class="list-group list-group-dungeon shadow-z-3" style="border-radius:4px;background-color:#111">
    <li class="list-group-item">
        <h3 class="list-group-item-heading text-ellipsis">&nbsp;</h3>
        <em class="small">&nbsp;</em>
    </li>
    <li class="list-group-item">
        <span class="default">&nbsp;</span>
    </li>
    <li class="list-group-item">
        <img style="width:18px;height:18px;opacity:0"><span class="default">&nbsp;</a>
    </li>
    <li class="list-group-item">
        <img style="width:18px;height:18px;opacity:0"><span class="default">&nbsp;</a>
    </li>
    <li class="list-group-item">
        <img style="width:18px;height:18px;opacity:0"><span class="default">&nbsp;</a>
    </li>
</ul>