{% if page.eso.consumables %}
    <!-- Verbrauchsgüter -->
    <h3><strong>Verbrauchsgüter</strong></h3>
    {% capture section_content %}

    {% endcapture %}
    {% include section.html content=section_content id="bufffood" title="Buff Food - ???" %}
    
    {% capture section_content %}

    {% endcapture %}
    {% include section.html content=section_content id="traenke" title="Tränke - ???" %}
    
    {% capture section_content %}

    {% endcapture %}
    {% include section.html content=section_content id="gifte" title="Gifte - ???" %}
{% endif %}