<section class="panel panel-default card card-spoiler mb-3">
    <header class="panel-heading card-header">
        <h5 class="panel-title mb-0">
            <a class="card-link text-body dropdown-toggle default" data-toggle="collapse" href="#{{ include.id }}" aria-expanded="false" aria-controls="{{ include.id }}">{{ include.title }} <span class="caret"></span></a>
        </h5>
    </header>
    <div class="card-body panel-collapse collapse" id="{{ include.id }}" aria-expanded="false" role="complementary">
		{% if include.overflow %}
		<div class="panel-body" style="overflow-x:auto;">
		{% else %}
		<div class="panel-body">
		{% endif %}
            {{ include.content }}
        </div>
    </div>
</section>
